.login {
  background: rgb(0, 0, 255);
  background: radial-gradient(
    circle,
    rgba(0, 0, 255, 0.7035189075630253) 0%,
    rgba(18, 12, 18, 0.5018382352941176) 16%,
    rgba(0, 0, 0, 0.8407738095238095) 58%,
    rgba(0, 0, 0, 0.7371323529411764) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: blue;
  height: 280px;
  width: 280px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  width: 200px;
  height: 40px;
  display: flex;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}
