.message-card {
  border-bottom: 1px solid rgba(60, 255, 0, 0.267);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.post-buttons {
  display: flex;
  justify-content: flex-end;
}
.message-wrapper {
  display: flex;
  flex-direction: row;
}
.alias {
  width: 110px;
  margin-left: 10px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
