body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  border: red 2px solid;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  font-size: 28px;
  transition: ease-in-out 100ms;
}

h3 {
  font-size: 25px;
}
.list {
  display: flex;
  border: red 2px solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
