@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  background-color: rgb(27, 27, 27);
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(223, 223, 55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-wrapper {
  width: 99%;
}

input[type='text'] {
  color: rgba(136, 255, 0, 0.568);
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: rgb(223, 223, 55);
  border: 1px dotted transparent;
}

button:disabled {
  opacity: 0.5;
}

p {
  font-size: 20px;
}

input {
  font-family: 'VT323', monospace;
  background-color: transparent;
  height: 30px;
  border: none;
  width: 80%;
  font-size: 20px;
  margin-left: 10px;
  color: rgb(223, 223, 55);
}

@media (min-width: 669px) {
  p {
    font-size: 30px;
  }
  input {
    height: 40px;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: rgb(223, 223, 55);
  }
  button:hover {
    filter: invert(100%);
  }
  input[type='text'] {
    font-size: 30px;
  }
}
