@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  background-color: rgb(27, 27, 27);
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(223, 223, 55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-wrapper {
  width: 99%;
}

input {
  font-family: 'VT323', monospace;
  color: rgb(61, 114, 0);
}

input[type='text'] {
  color: rgb(61, 114, 0);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: rgb(223, 223, 55);
  margin-left: 10px;
  margin-right: 10px;
  border: 3px dotted transparent;
}

button:hover {
  filter: invert(100%);
  border: 3px dotted blue;
  transition: ease-in-out 100ms;
}

button:disabled {
  opacity: 0.5;
}

p {
  font-size: 25px;
}

input {
  background-color: transparent;
  height: 40px;
  border: none;
  width: 80%;
  font-size: 25px;
  margin-left: 10px;
  color: rgb(223, 223, 55);
}
